<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zheng.mobilesafe"
    android:versionCode="1"
    android:versionName="1.0" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.zheng.mobilesafe" >
    </instrumentation>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.zheng.mobilesafe.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.HomeActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.SettingActivity" >
        </activity>
        <activity
            android:name="com.zheng.mobilesafe.activities.LostFindActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.Setup1Activity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.Setup2Activity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.Setup3Activity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.Setup4Activity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.SelectContactActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.CallSmsSafeActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.AddBlackNumberActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.UpdateBlackNumberActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.CommonToolsActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.AppManagerActivity" >
        </activity>
        <activity android:name="com.zheng.mobilesafe.activities.ProcessManagerActivity" >
        </activity>
        <!-- 开机启动 -->
        <receiver android:name="com.zheng.mobilesafe.ui.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- 自动截取短信指令 -->
        <receiver android:name="com.zheng.mobilesafe.ui.receiver.SmsReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 超级管理员权限 -->
        <receiver
            android:name="com.zheng.mobilesafe.ui.receiver.MyAdmin"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN" >
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <!-- Widget -->
        <receiver android:name="com.zheng.mobilesafe.ui.receiver.MyWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/process_widget_provider" />
        </receiver>

        <!-- 获取位置服务 -->
        <service android:name="com.zheng.mobilesafe.service.LocationService" >
        </service>
        <!-- 骚扰拦截 -->
        <service android:name="com.zheng.mobilesafe.service.CallSmsSafeService" >
        </service>
        <service android:name="com.zheng.mobilesafe.service.ShowAddressService" >
        </service>
        <service android:name="com.zheng.mobilesafe.service.UpdateWidgetService"></service>
    </application>

</manifest>